.noticia-int {
    padding-top: 110px;

    @include responsive($ms-mid) {
        padding-top: 130px;      
    };

    article {

        figure {
            margin-bottom: 26px;

            .engloba-foto {
                position: relative;
                width: 100%;
                height: 220px;
                z-index:1;

                @include responsive($ms-mid) {
                    height: 518px;
                };
            }
            
            figcaption {
                overflow: hidden;
                height: 164px;
                position: relative;
                bottom: 0;
                left: 0;
                right: 0;
                z-index:2;

                @include responsive($ms-mid) {
                    height: 144px;
                    position: absolute;
                };

                .background-news {
                    @include opacity(0.5);
                    background-color: $black;
                    width: 100%; 
                    height: 100%;  
                }

                h1 {
                   @include calc-rem(30px);

                   padding: 15px 24px;
                   color: $white;
                   position: absolute;
                   top: 0;
                   left: 0;
                   right: 0;

                   @include responsive($ms-mid) {
                      @include calc-rem(50px);

                      padding: 28px 44px;
                   };
                }
            }
        }
    }

    aside {
       a {
         text-decoration: none;

         &::after {
             content: url(../img/icon_arrow.svg);
             position: absolute;
             width: 12px;
             height: 25px;
             left: 16px;
             top: 15px;
         }
       }


       h2 {
           @include calc-rem(40px);
           padding: 30px 0 24px 0 !important;
           font-family: $font-small;
           font-weight: bold;
       }

       ul {
            li {
              white-space: normal;
              border-bottom: 1px solid $color-sexary;
              margin-bottom: 18px;

              &:last-child {
                  border-bottom: none;
              }


              p {
                    @include calc-rem(16px);
                    margin-bottom: 18px;

                    a {
                       color: $color-quinary;
                    }
              }
           }
       }
    }
}
