@font-face {
    font-family: 'LatoBold';
    src: url('../fonts/LatoBold.eot');
    src: url('../fonts/LatoBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LatoBold.woff2') format('woff2'),
        url('../fonts/LatoBold.woff') format('woff'),
        url('../fonts/LatoBold.ttf') format('truetype'),
        url('../fonts/LatoBold.svg#MyriadRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LatoBlack';
    src: url('../fonts/Lato-Black.eot');
    src: url('../fonts/Lato-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Black.woff2') format('woff2'),
        url('../fonts/Lato-Black.woff') format('woff'),
        url('../fonts/Lato-Black.ttf') format('truetype'),
        url('../fonts/Lato-Black.svg#MyriadRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    overflow: hidden!important;
    margin: 0!important;
    padding: 0!important;
    font-family: 'LatoBold';
}

header,
footer {
    position: fixed;
    width: 100%;
}

header {
    top: 0;
}

header img {
    margin: 15px 0;
}

.line-left {
    border-right: 2px solid #000;
}

.line-right {
    border-left: 2px solid #000;
}

footer {
    bottom: 0;
}

.left,
.right {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media {
    justify-content: space-around!important;
}

.social-media img {
    width: 30px;
}

.right {
    float: right!important;
}

.left {
    float: left!important;
}

.clear {
    clear: both!important;
}

.jobs {
    font-weight: bold;
    display: table;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'LatoBlack';
    color: #000;
    text-decoration: none;
}

.jobs:hover {
    color: #000;
    text-decoration: none;
}

header .container{
    border-bottom: 2px solid #000;
}

footer .container{
    border-top: 2px solid #000;
}

h2 {
    font-family: 'LatoBlack'!important;
    text-transform: uppercase;
    font-size: 90px!important;
    position: relative;
    -webkit-text-stroke: 3px #000;
    -webkit-text-fill-color: transparent;
}

h2.up {
    left: -310px;
    top: 15px;
}

h2.down {
    right: -72px;
    top: 6px;
}
 
.fundo_base {
    width: 100%!important;
    height: 100%!important;
    min-height: 100vh!important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../images/fundo_pagina.jpg);
    background-color: #F9CA24;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#animation_container {
    width: 750px!important;
    height: 520px!important;
    position: relative;
    overflow: hidden!important;
    top: 14px;
    border: 2px solid #000;
}

#canvas {
    width: 1090px!important;
    height: 580px!important;
    position: relative;
    overflow: hidden!important;
    top: -60px;
    left: -170px;
}

#dom_overlay_container {
    width: 1920px!important;
    height: 100%!important;
    min-height: 100vh!important;
    position: relative;
    margin: 0 auto;
    overflow: hidden!important;
    display: none;
}

@media only screen and (min-width: 1200px) {
    #animation_container {
        width: 540px!important;
        height: 370px!important;
        top: 8px;
    }
    
    #canvas {
        width: 840px!important;
        height: 450px!important;
        top: -60px;
        left: -160px;
    }
}

@media only screen and (min-width: 1600px) {
    #animation_container {
        width: 750px!important;
        height: 520px!important;
        top: 14px;
    }
    
    #canvas {
        width: 1090px!important;
        height: 580px!important;
        top: -60px;
        left: -170px;
    } 
}